
body {        
    font-family: 'Titillium Web', sans-serif;
    background-color: rgb(224, 246, 255);
    display: grid;
    grid-template-rows: auto 1fr auto;
}

main {
    width: 80vw;
    background-color: ghostwhite;
    margin: 0 auto;
    padding: 30px 15px 20px 15px;
    display: flex;
    flex-direction: column;
}

section {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

header {
    background-color: cyan;
    height: 110px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    height: 100%;
    object-fit: contain;
}

h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

footer {
    background-color: cyan;
    padding: 10px;
}

.operator{

    position: static;
    font-weight: 900;
    /* left: 360px; */
    /* margin: 20px; */
    /* padding: -20px; */
}

.f1{
    width: 200px;
}

.f2 {
    width: 200px;
}
