
body {        
    font-family: 'Titillium Web', sans-serif;
    background-color: rgb(224, 246, 255);
    display: grid;
    grid-template-rows: auto 1fr auto;
}

main {
    width: 80vw;
    background-color: ghostwhite;
    margin: 0 auto;
    padding: 30px 15px 20px 15px;
    /* display: flex;
    flex-direction: column; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

section {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border-bottom: 1px dashed blue;
}

header {
    background-color: cyan;
    height: 110px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    height: 100%;
    object-fit: contain;
}

h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

footer {
    background-color: cyan;
    padding: 10px;
}

.operator{

    position: static;
    font-weight: 900;
    /* left: 360px; */
    /* margin: 20px; */
    /* padding: -20px; */
}

.f1{
    
    width: 213px;
}

.f2 {
    margin-top: 3px;
    width: 200px;
    float: right;
}

.do-the-thing{
    width: 213px;
}

.answer{
    width: 213px;
    float: right;
    padding-top: 5px;
    text-align: right;
    background-color: lightyellow;
}